<style type="text/css">
	html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo {
  margin: 0 auto;
  position: realtive ;
  padding-top: 20px;
  padding-left: 10px;
  max-width: 1000px;
  width: 1000%;
  text-align: left;
}

.demo h1 {
  margin-top: 0;
  text-align: left;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ff99ff;
  text-align: center;
}
</style>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="demo">
  <h1>Wedding planner website</h1>

  <h5>Contact: 9876543210</h5>
  <h5>Email: contact@wedding.com</h5>
  <img scr="http://bhavans.ac.in/wp-content/uploads/2014/04/map.jpg" style="width:1000px;height:200px ">
</div>

<div class="footer">By simran disha rajvi anushka </div>

</body>
</html>



